#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
marquee{
    font-size: 20px;
    background-color: greenyellow;
    color: red;
}
img{
    width: 100%;
}
.contact_1 img{
    height: 300px ;
    width: 300px ;
} 